
/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}


main {
  max-width: 375px;
  background: hsl(0, 0%, 100%);
  margin: 10px auto;
  padding: 10px;
}


.test-header h1 {
  font-weight: 700;
  font-size: 42px;
  color: hsl(300, 43%, 22%);
  max-width: 375px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1em;
}

.test-header p{
  color:  hsl(303, 10%, 53%);
  max-width: 375px;
  line-height: 25px;
  text-align: center;
}

.five-star {
  margin-top: 40px;
}

.stars{
  padding-top: 20px;
  margin-left: 28%;
}

ul {
  list-style-type: none;
  padding: 0;
}

 ul li{
  background-color: hsl(300, 24%, 96%);
  margin: 10px;
  border-radius: 10px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  max-width: 375px;
}

ul li p {
  padding: 0 15px 15px 15px;
  margin-top: 10px;
  text-align: center;
}

ul li img {
  margin-right: 7px;
}

ul li img:nth-of-type(5n){
  margin-right: 20px;
}

section{
  margin-top: 50px;
}

section > .testimonial {
  background-color: hsl(300, 43%, 22%);
  padding: 32px;
  border-radius: 10px;
  margin: 10px 10px 20px 10px;
}

.test1{
  align-self: flex-start;
}

.test2 {
  align-self: flex-start;
}

.test3{
  align-self: flex-start;
}

.testimonial quote {
  font-weight: 400;
  color: hsl(300, 24%, 96%);
  line-height: 25px;
}

.test-name{
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 25px 25px;
  grid-row-gap: 10px;
  margin-bottom: 15px;
  max-width: 375;
}

.test-name h2{
  font-size: 14px;
  color: hsl(300, 24%, 96%);
}

.test-name h3{
  font-size: 12px;
  font-weight: 400;
  color: hsl(333, 80%, 67%);
  grid-column: 2 / 3;
  grid-row: 2;
  align-self: end;
}

.test-name > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}

/* Mobile view
@media screen and (max-width: 992px) {

  main {
    max-width: 375px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .test-header{
    grid-column: 1;
    grid-row: 1;
  }

  .test-header p{
    color:  hsl(303, 10%, 53%);
    max-width: 375px;
    line-height: 25px;
    text-align: center;
  }

  .five-star {
    max-width: 375px;
    grid-column: 1;
    grid-row: 2;

  }

  ul {
  }

  ul li{
   max-width: 375px;
   flex-wrap: wrap;
 }

 ul li p {
 }

 ul li:nth-child(2){
   grid-row: 2;
   grid-column: 1;
 }

 ul li:nth-child(3){
   grid-row: 3;
   grid-column: 1;
 }


  section {
    grid-column: 1;
    grid-row: 3;
    max-width: 375px;

  }
}
*/


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
